@model DiaryEntry

<div class="form-group mb-3">
    <label asp-for="Title" class="form-label">Title</label>
    <input asp-for="Title" class="form-control" placeholder="Enter a title"/>
    <span asp-validation-for="Title" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Content" class="form-label">Content</label>
    <input asp-for="Content" row="5" class="form-control" placeholder="Enter what you did that day"/>
    <span asp-validation-for="Content" class="text-danger"></span>
</div>
<div class="form-group mb-3">
    <label asp-for="Created" class="form-label">Date</label>
    <input asp-for="Created" class="form-control" type="date"/>
    <span asp-validation-for="Created" class="text-danger"></span>
</div>
<div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Cancel</a>
</div>